{
"parser": "babel-eslint",

  "plugins": [
    "babel",
    "flow-vars",
    "react"
  ],

  "env": {
    "browser": true,
    "node": true
  },

  "extends": "airbnb-base",

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "no-var": 0,
    "no-console": 0,
    "newline-after-var": 0,
    "vars-on-top": 1
    }
}
